<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ForgetPassServlet</servlet-name>
        <servlet-class>controller.ForgetPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtpController</servlet-name>
        <servlet-class>controller.OtpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordWhenForgetController</servlet-name>
        <servlet-class>controller.ChangePasswordWhenForgetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>controller.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetPassServlet</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtpController</servlet-name>
        <url-pattern>/OtpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordWhenForgetController</servlet-name>
        <url-pattern>/changepasswordwhenforget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
</web-app>
